@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;1000&family=Lato:wght@400;700&family=Roboto:wght@300;400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html {
    scroll-behavior: smooth;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.purple {
    color: #6415FF;
}

/*

NAV

*/

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin: 32px 32px;
}

.nav__img {
    height: 100%;
    display: flex;
    align-items: center;
}

.nav__img--logo {
    width: 40px;
    height: 40px;
    margin-right: 16px;
}

.nav__main {
    font-size: 24px;
    font-weight: 1000;
    color: #243E63;
}

.nav__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__link {
    margin: 0px 24px;
    color: #243E63;
    font-weight: 600;
}

.nav__link--primary {
    margin-left: 48px;
}



button {
    padding: 12px 32px;
    background-color: #6415FF;
    color: white;
    border-radius: 20px;
    border: none;
}


/*

HEADER

*/

.header__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;

}

.header {
    margin: 32px;
}

.header__title {
    font-size: 36px;
}

.header__subtitle {
    font-size: 16px;
    margin: 32px 0;
}


.header__customer {
    margin-top: 80px;
    opacity: 0.3;
}

.header__customer--para {
    
}

.header__customer--img {
    margin-top: 16px;
}