@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html {
    scroll-behavior: smooth;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.purple {
    color: #6415FF;
}

input {
    border: none;
    border-radius: 24px;
    font-weight: 600;
}

button {
    padding: 16px 32px;
    background-color: #6415FF;
    color: white;
    border-radius: 32px;
    border: none;
    cursor: pointer;
    transition: all 300ms ease;
}

.button--purple:hover {
    background-color: #4f11cc;
}

.title--header {
    margin-bottom: 16px;
    font-weight: 700;
    letter-spacing: 0.1em;
}

.title {
    font-size: 48px;
    font-weight: 900;
    color: #243E63;
}

.title--para {
    margin-top: 16px;
    width: 100%;
    max-width: 600px;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.6;
    color: gray;
}


/*

NAV

*/

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin: 32px 32px;
}

.nav__img {
    height: 100%;
    display: flex;
    align-items: center;
}

.nav__img--logo {
    width: 40px;
    height: 40px;
    margin-right: 16px;
}

.nav__main {
    font-size: 24px;
    font-weight: 1000;
    color: #243E63;
}

.nav__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__link {
    margin: 0px 24px;
    color: #243E63;
    font-weight: 600;
}

.nav__link--primary {
    margin-left: 48px;
}

/*

HEADER

*/

.header__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    padding: 96px 32px;
}

.header {
    margin: 32px;
    width: 80%;
}

.header__title {
    font-size: 36px;
}

.header__subtitle {
    font-size: 16px;
    margin: 32px 0;
}

.header__form {
    border: 2px solid lightgray;
    border-radius: 32px;
    transition: all 300ms ease;
}

.header__form:hover {
    border: 2px solid rgb(173, 173, 173);
}

/* .input__email:focus .header__form {
    border: 2px solid #6415FF;
} */

.form {
    display: flex;
    justify-content: space-between;
    padding: 8px 8px 8px 32px;
}

.header__customer {
    margin-top: 80px;
    opacity: 0.4;
}

.header__customer--para {
    font-weight: 700;
}

.header__customer--img {
    margin-top: 16px;
}

/*

FEATURES

*/

.features__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 96px 32px;
    color: #243E63;
}

.features__title--para {
    text-align: center;
}

.features__list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.features__list--wrapper {
    display: flex;
    flex-direction: row;
    margin: 0 16px;
    padding: 32px 8px;
    width: calc(100% / 3 - 32px);
}

.features__list--img {
    height: 66px;
    width: 66px;
    border: 2px solid rgba(204, 204, 204, 0.4);
    padding: 20px;
    border-radius: 50%;
}

.features__list--icon {
    height: 24px;
    width: 24px;
}

.features__list--description {
    margin: 8px 0 0 16px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.features__description--para {
    font-size: 16px;
    margin-top: 16px;
    line-height: 2;
    font-weight: 500;
    color: gray;
}

/*

QUALITY WORK

*/

.quality__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 96px 32px;
}

.quality__left {
    padding: 32px 0;
    margin-right: 48px;
    width: 50%;
}

.quality__button--learn {
    margin-top: 32px;
}

.quality__img {
    border: 1px solid lightgray;
    width: 50%;
}

/*

GET STARTED

*/

.start__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 96px 32px;
}

.start__img {
    width: 50%;
}

.start__right {
    padding: 32px 0;
    margin-left: 48px;
    width: 50%;
}

.quality__button--learn {
    margin-top: 32px;
}

.start__list {
    margin-top: 48px;
}

.start__register {
    display: flex;
    align-items: flex-start;
    margin-top: 32px;
}

.start__step {
    font-size: 36px;
    color: lightgray;
}

.register__step {
    margin-left: 24px;
}

.register__title {
    color: #243E63;
    font-size: 20px;
    font-weight: 600;
}

.register__para {
    line-height: 1.6;
    margin-top: 12px;
    font-size: 14px;
    font-weight: 600;
    color: #718096;
}

/*

VALUES

*/

.value__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 96px 32px;
}

.value__left {
    width: 50%;
    margin-right: 48px;
}

.value__img {
    width: 50%;
}

.value__button--learn {
    margin-top: 48px;
}

.value__wrapper,
.value__wrapper--title,
.value__wrapper--group
{
    display: flex;
}

.value__wrapper--group {
    flex-direction: column;
    margin: 32px 32px 0 0;
}

.value__description--title {
    font-size: 20px;
    margin-left: 12px;
}

.value__description--para {
    font-size: 16px;
    margin-top: 16px;
    line-height: 1.625;
    font-weight: 500;
    color: gray;
}

.feather-dollar-sign {
    background-color: #9AE6B4;
    border-radius: 50%;
    padding: 6px;
    width: 32px;
    height: 32px;
}

.feather-briefcase {
    background-color: #FEB2b2;
    border-radius: 50%;
    padding: 6px;
    width: 32px;
    height: 32px;
}

/*

PRICING

*/

.pricing__container,
.faqs__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 96px 32px;
}

.pricing__plan {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.pricing__plan--personal {
    display: flex;
    flex-direction: column;
    margin: 64px 32px 0 0;
    width: calc(100% / 3);
    text-align: center;
    box-shadow: 0 4px 4px rgb(0,0,0, 0.16);
    border-radius: 8px;
}

.pricing__border {
    height: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.white--background {
    background-color: white;
    color: #6415FF;
}

.pricing__plan--box {
    padding: 32px 0;
}

.pricing__plan--title {
    font-size: 20px;
}

.pricing__plan--price {
    font-size: 48px;
    margin: 4px 0;
}

.pricing__plan--duration {
    font-size: 16px;
    letter-spacing: 1.6px;
    color: #A0AEC0;
}

.pricing__plan--box,
.pricing__plan--description,
.pricing__plan--button {
    padding: 32px;
    display: flex;
    flex-direction: column;
}

.pricing__plan--description,
.pricing__plan--button {
    border: 1px solid rgba(194, 194, 194, 0.2)

}

.plan__option {
    font-size: 16px;
    margin-top: 20px;
    font-weight: 600;
    color: rgb(113 128 150)
}

.pricing__plan--button {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    align-items: center;
}

#pricing button:hover{
    background-color: none;
    transform: translateX(1px) translateY(-2px);
    box-shadow: 0 4px 8px 0px rgba(90, 90, 90, 0.3);
}

#pricing button {
    width: 70%;
}

.green {
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.blue {
    background: rgb(76, 81, 191)
}

.red {
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.white {
    color: white;
}

/*

TESTIMONIALS

*/

.testimonials__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 96px 32px;
}

.testimonial__img--wrapper {
    width: 40%;
}

.testimonial__right {
    padding-left: 64px;
    width: 60%;
}

.user__experience {
    margin-top: 32px;
}

.fas {
    color: rgb(246 173 85)
}

.user--title {
    color: #243E63;
    font-size: 20px;
    margin-top: 16px;
}

.user--para {
    font-weight: 600;
    line-height: 1.625;
    margin-bottom: 40px;
}

.user__profile {
    display: flex;

}

.user__profile--name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 24px;
}

.user__profile--img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
}

/*

FAQS

*/


.faqs__container {
    text-align: center;
}

/* GET STARTED */

.getstart__row {
    margin-bottom: 192px;
}

.getstart__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6415FF;
    border-radius: 12px;
    margin: 0 32px;
    padding: 96px 32px;
}

.getstart__title {
    width: 50%;
}

.getstart__button {
    display: flex;
    width: 40%;
}

.getstart__button--start,
.getstart__button--contact {
    max-height: 80px;
    font-size: 16px;
    padding: 20px 40px;
    font-weight: 700;
}

.getstart__button--start {
    background-color: #F56565;
    margin-right: 32px;
}

.getstart__button--contact {
    border: 1px solid white;
}
.getstart__button--start:hover {
    background-color: rgb(229 62 62);
}

.getstart__button--contact:hover {
    background-color: white;
    color: #6415FF;

}

/* 
FOOTER 
 */

 #footer {
    background-color: #6415FF;
    padding: 96px 32px;
 }

.footer__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6415FF;
    font-size: 14px;
}

.footer__links--wrapper {
    font-size: 16px;
}

#footer h1 {
    margin-bottom: 24px;
}

#footer li {
    list-style: none;
    margin-top: 12px;
    font-size: 14px;
}

.footer__line {
    margin: 64px 0;
    height: 2px;
    background-color: #8446ff;
}

.footer__social {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__img {
    height: 40px;
    width: 40px;
}

.footer__logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer__main {
    font-size: 20px;
    margin-left: 8px;
}

#footer a {
    color: white;
}

#footer h1 {
    font-size: 16px;
}